# top-level hidden files/directories
/.bash_history
/.bash_logout
/.bash_sessions
/.cache
/.cargo
/.dmrc
/.docker
/.electron-gyp
/.emacs.d
/.fehbg
/.ghc
/.gnome
/.gnupg
/.gradle
!/.gnupg/gpg-agent.conf
/.gtk-bookmarks
/.kube
/.lesshst
/.m2
/.mozilla
/.NERDTreeBookmarks
/.node_path
/.node_repl_history
/.npm
/.nv
/.nvm
/.pki
/.profile
/.rustup
/.local
/.ssh
/.stack
/.tmux
/.vim
/.viminfo
/.vscode-oss
/.xsession-errors*
/.Xauthority

# top-level directories
/code
/data
/Desktop
/Documents
/Downloads
/go
/Pictures

# osx - to be removed once we get rid of osx
/Applications
/.CFUserTextEncoding
/.DS_Store
/Library
/Movies
/Music
/Nextcloud
/Public
/.Trash
