# top-level hidden files/directories
/.aws
/.bash_history
/.bash_logout
/.bash_sessions
/.cabal
/.cache
/.cargo
/.dbus
/.dmrc
/.docker
/.electron-gyp
/.emacs.d
/.fehbg
/.fnm
/.ghc
/.ghcup
/.gnome
/.gnupg
/.gradle
!/.gnupg/gpg-agent.conf
/.gtk-bookmarks
/.java
/.k9s
/.kube
/.landscape
/.lesshst
/.m2
/.motd_shown
/.mozilla
/.NERDTreeBookmarks
/.node_path
/.node_repl_history
/.npm
/.npmrc
/.nv
/.nvm
/.org-roam.db
/.orhc-bibtex-cache
/.pki
/.profile
/.rustup
/.local
/.ssh
/.stack
/.sudo_as_admin_successful
/.thumbnails
/.thunderbird
/.tmux
/.vscode-server
/.vim
/.viminfo
/VirtualBox VMs
/.vscode-oss
/.wget-hsts
/.xsession-errors*
/.Xauthority
/.zotero
/Zotero

# top-level directories
/code
/data
/Desktop
/Documents
/Downloads
/go
/Pictures

# osx - to be removed once we get rid of osx
/Applications
/.CFUserTextEncoding
/.DS_Store
/Library
/Movies
/Music
/Nextcloud
/Public
/.Trash
