/autostart
/cmus
/coc
/configstore
/containers
/dconf
/fisher
/google-chrome
/gtk-2.0
/gtk-3.0
/Joplin
/joplin-desktop
/keepassxc
/menus
/Nextcloud
/pulse
/QtProject.conf
/VSCodium

# osx - to be removed once we get rid of it
karabiner
