/autostart
/cmus
/coc
/configstore
/containers
/dconf
/evolution
/fisher
/gnome-control-center
/google-chrome
/GIMP
/gtk-2.0
!/gtk-3.0
/gtk-3.0/*
!/gtk-3.0/settings.ini
/gtk-4.0
/Joplin
/joplin-desktop
/keepassxc
/menus
/mimeapps.list
/nautilus
/Nextcloud
/pipewire-media-session
!/pulse
/pulse/*
!/pulse/default.pa
/QtProject.conf
/Slack
/systemd/user/default.target.wants/
/systemd/user/timers.target.wants/
/user-dirs*
/VIA
/VSCodium

# osx - to be removed once we get rid of it
karabiner
