/autostart
/cantata
/cmus
/coc
/configstore
/containers
/dconf
/evolution
/flameshot
/fisher
/gnome-boxes
/gnome-control-center
/google-chrome
/google-chrome-unstable
/GIMP
/gtk-2.0
!/gtk-3.0
/gtk-3.0/*
!/gtk-3.0/settings.ini
/gtk-4.0
/htop
/JetBrains
/Joplin
/joplin-desktop
/keepassxc
/libfm
/libreoffice
/libvirt
/menus
/mimeapps.list
/nautilus
/Nextcloud
/pavucontrol.ini
/pcmanfm
/pipewire-media-session
!/pulse
/pulse/*
!/pulse/default.pa
/QtProject.conf
/Signal
/Slack
/systemd/user/default.target.wants/
/systemd/user/timers.target.wants/
/user-dirs*
/VIA
/VirtualBox
/vlc
/VSCodium

# osx - to be removed once we get rid of it
karabiner
